#inscription-overlay { display: none; background-color: rgba(15, 19, 18, 0.3); }
#inscription-panel { width: 390px; }
#inscription-panel .menu-heading { font-size: 20px; }
#inscription-panel .menu-text { font-size: 10px; -unity-text-align: upper-left; margin-bottom: 16px; }
#inscription-panel .menu-meta { font-size: 10px; margin-bottom: 12px; }
